body {
    background-color: #bdb6fb;
}
.dino {
    width: 60px;
    height: 60px;
    background-image: url('./dino.png');
    position: absolute;
    bottom: 0;
}

.cactus {
    background-image: url('./cactus.png');
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
}

@keyframes slideright {
    from {
        background-position: 7000%;
    }
    to {
        background-position: 0;
    }
}
.background {
    position: absolute;
    bottom: 0;
    background-image: url('./background.png');
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}

.gameover {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    text-align: center;
    color: #f05dff;
    -webkit-text-stroke: 1px white;
}